<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sccd</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    
    


<h1>Tabla de registros</h1>

<table style="border: 1px solid black;">

<tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cedula</th>
    <th>usuario</th>
</tr>

{% for registro in registros %}
<tr>

    <td>{{ registro.Nombre }}</td>
    <td>{{ registro.Apellido }}</td>
    <td>{{ registro.Cedula }}</td>
    <td>{{ registro.Usuario }}</td>
</tr>
{% endfor %}

</table>
<br><br>
<br><br>
<div class="inicio-sesion">
<form action="/procesar" method="post">

<label for="Nombre">Nombre:</label>
<input type="text" id="Nombre" name="Nombre" required><br><br>

<label for="Apellido">Apellido:</label>
<input type="text" id="Apellido" name="Apellido" required><br><br>

<label for="Cedula">Cedula:</label>
<input type="text" id="Cedula" name="Cedula" required><br><br>

<label for="Usuario">Usuario:</label>
<input type="text" id="Usuario" name="Usuario" required><br><br>

<label for="Contraseña">Contraseña:</label>
<input type="password" id="Contraseña" name="Contraseña" required><br><br>


<input type="submit" name="accion" value="Agregar">

<input type="submit" name="accion" value="Actualizar">
</form>
</div>


<div class="inicio-sesion">
<form action="/procesar" method="post">
<label for="Cedula">Cedula:</label>
<input type="text" id="Cedula" name="Cedula" required><br><br>
<input type="submit" name="accion" value="Eliminar">
</form>
</div>
</body>








</html>