<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sccd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>

<body style="background-color: whitesmoke;">

    <h1 style="color: black;font-family: Arial, Helvetica, sans-serif ;font-weight: bold;">Bienvenido a Sccd</h1>
<div class="inicio-sesion">
    <form action="/login" method="post">
        <label for="Usuario">Usuario:</label>
        <input type="text" id="Usuario" name="Usuario" required><br><br>
        <label for="Contraseña">Contraseña:</label>
        <input type="password" id="Contraseña" name="Contraseña" required><br><br>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <a href="#" style="text-decoration: none;">Olvidaste tu contraseña</a><br><br>
        <input type="submit" value="Iniciar Sesión">
    </form>
</div>

<a href="/conductor" class="btn-conductor">
    <button>🚚 Panel Conductor</button>
</a>




<footer style="background-color: rgb(15, 18, 48); color: white; text-align: center; padding: 5px; position: fixed; bottom: 0; width: 100%;">
    <p>&copy; 2026 Sccd. Todos los derechos reservados.</p>
</footer>




</body>